{{define "teml/teml/lower.tmpl.html"}}

        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer text-center">
         <a href="#">กลุ่มพัฒนาการใช้คอมพิวเตอร์และเครือข่าย</a> 2565
        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
      </div>
      <!-- ============================================================== -->
      <!-- End Page wrapper  -->
      <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
	<!--
    <script src="../static/assets/libs/jquery/dist/jquery.min.js"></script>
	-->
    <!-- Bootstrap tether Core JavaScript -->
    <script src="../static/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="../static/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="../static/assets/extra-libs/sparkline/sparkline.js"></script>
    <!--Wave Effects -->
    <script src="../static/dist/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="../static/dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="../static/dist/js/custom.min.js"></script>
    <!-- this page js -->
    <script src="../static/assets/extra-libs/multicheck/datatable-checkbox-init.js"></script>
    <script src="../static/assets/extra-libs/multicheck/jquery.multicheck.js"></script>
    <script src="../static/assets/extra-libs/DataTables/datatables.min.js"></script>
       <script src="../static/assets/libs/select2/dist/js/select2.full.min.js"></script>
    <script src="../static/assets/libs/select2/dist/js/select2.min.js"></script>
  <script>
  // Select2
  $(".select_person").select2();
  </script>



</body>

</html>

{{end}}
